#image-div {
	margin: 20px 0 20px 0;
}

body {
	background: #005C97;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(left, #363795, #005C97);
	background: -o-linear-gradient(left, #363795, #005C97);
	background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
}

#button {
	margin-bottom: 20px;
}